{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <h1>Fale Conosco</h1>
                <p>Você pode budar, sou personalidade</p>
                <h4>Links</h4>
                <ul>
                    <li>
                        Email: <a href="mailto:contato@simplemooc.org">contato@simplemooc.org</a>
                    </li>
                    <li>
                        Twitter: <a href="https://google.com">@simplemooc</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}